.bg-custom-blue {
  background-color: #3b82f6; 
  min-height: 100vh;
}

.login-container {
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: left; 
}