#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-width: 250px;
    max-width: 250px;

    min-height: 100vh; 
    position: sticky;
    top: 0;
    
    display: flex;
    flex-direction: column;
}

#page-content-wrapper {
    width: 100%;
}