/* student.css */

.vh-100 {
    height: 100vh;
}

.nav-pills .nav-link {
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.nav-pills .nav-link:hover {
    background-color: #e9ecef;
}

/* Override màu active của Bootstrap nếu muốn màu khác */
/* .nav-pills .nav-link.active {
    background-color: #0d6efd; 
} */

main {
    background-color: #f8f9fa; 
}


.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
}

.input-group-text {
    color: #6c757d;
}